:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	background-color: #262626;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.sections {
	max-width: 80vw;
	max-height: 100%;
	padding: 4vh 0;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}

a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	justify-content: center;
	min-width: 320px;
	min-height: 100vh;
}

h3 {
	margin-top: 0;
}

.section-element {
	display: grid;
	place-items: center;
	/* shorthand for align-items + justify-items */
	max-width: 100px;
	min-width: 75px;
	text-align: center;
	cursor: pointer;
	position: relative;
}


section {
	align-self: center;
	display: flex;
	justify-content: flex-start;
	width: 75vw;
	height: 105px;
	gap: 3vw;
	padding: 15px;
	margin-bottom: 5vh;
	background-color: #505050;
	border-radius: 15px;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	scrollbar-width: thin;
	scrollbar-color: #333333 transparent;
}

section img {
	padding-bottom: 10px;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

#add-element {
	position: absolute;
	right: 3vw;
	top: 5vh;
	background-color: #1878ED;
}

#add-element:hover {
	background-color: #0BA4F0;
}

#close-add-element-modal {
	position: absolute;
	right: 5%;
	top: 5%;
	cursor: pointer;
}

.modal-buttons {
	margin-top: 2vh;
	justify-content: space-evenly;
	display: flex;
}

input {
	height: 20px;
	border-radius: 8px;
	margin: 8px;
}

.input-div input:focus {
	border-color: #1878ED;
	outline: none;
	box-shadow: 0 0 0 2px #1878ED;
}

.input-div {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.input-div label {
	width: 50px;
}

.add-element-modal {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	padding: 25px 15px;
	border-radius: 10px;
	z-index: 9999;
	margin: auto;
	background-color: #353535;
}

#add-element-submit {
	text-align: center;
	background-color: #1878ED;
}

#add-element-close {
	background-color: red;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	cursor: pointer;
	transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}
